NODE_ENV=development
PORT=3000

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DATABASE_URL=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_URL=redis://:password@localhost:6379

REDIS_MODE=sentinel
REDIS_SENTINEL_NAME=
REDIS_SENTINEL_1_HOST=
REDIS_SENTINEL_1_PORT=
REDIS_SENTINEL_2_HOST=
REDIS_SENTINEL_2_PORT=
REDIS_SENTINEL_3_HOST=
REDIS_SENTINEL_3_PORT=
REDIS_CLIENT_NAME=

DEMO_USER_EMAIL=
DEMO_USER_PASSWORD=
DEMO_USER_ID=